
#-----------------------------------------------------------------------

@author{
 name = Marchand,
 givenname = Éric, 
 email = marchand@irisa.fr,
 url = http://www.irisa.fr/lagadic/team/Eric.Marchand-eng.html
}

@author{
 name = Chaumette,
 givenname = François, 
 email = Francois.Chaumette@irisa.fr,
 url = http://www.irisa.fr/lagadic/team/Francois.Chaumette-eng.html
}

